{{!-- views/login.handlebars --}}
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form id="login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input type="text" class="form-control" id="email-login" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <a href="/signup" class="sign_up">Sign Up</a>
  </div>
</div>

<script src="/js/login.js"></script>




